.avatar.center-text(ng-controller='avatarCtrl')
  h2 Industrial Avatar Generator
  form(name='avaForm')
    input.width-50(type='text' name='phrase' autocomplete='off' placeholder='Enter a Name or Phrase' ng-model='userPhrase' ng-model-options='{debounce: 255}')
  p Pulling from: {{avaroot+userPhrase | urlcombine}}
  img.pbml(ng-show='avaForm.phrase.$viewValue.length > 0' ng-src='https://api.adorable.io/avatars/{{userPhrase | urlcombine}}' alt='AVATAR')