script(src='/app/js/angular.min.js')
script(src='/app/js/angular-ui-router.min.js')
script(src='/app/js/app.js')
//controllers
script(src='/app/js/controllers/homeCtrl.js')
script(src='/app/js/controllers/avatarCtrl.js')
//directives
script(src='/app/js/directives/applisting.js')
//services
script(src='/app/js/services/avatar.js')
//filters
script(src='/app/js/filters/urlcombine.js')
