script(src='/app/js/angular.min.js')
script(src='/app/js/angular-ui-router.min.js')
script(src='/app/js/app.js')
//controllers
script(src='/app/js/controllers/controller1.js')
//directives
//services
script(src='/app/js/services/avatar.js')
//filters
script(src='/app/js/filters/urlcombine.js')
