doctype html
html(lang="en" ng-app='myApp')
  head
    - var title = title || "Zathcom"
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="/app/css/style.css")
    link(rel="stylesheet" href="/app/css/bootstrap.min.css")
