@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat/Montserrat-Hairline.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat/Montserrat-UltraLight.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat/Montserrat-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat/Montserrat-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

.color-white {
  color: white !important;
}

.color-black {
  color: black !important;
}