[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background-color: #29b6f6 !important;
}

.content {
  background-color: #03a9f4;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}