
.type-xs {
 font-size: 8px; }

.type-sm {
 font-size: 12px; }

.type-p {
 font-size: 14px; }

.type-h3 {
  font-size: 21px;}

.type-h5 {
 font-size: 16px; }

.type-h4 {
 font-size: 18px; }

.type-lbl {
 font-size: 12px; }

.type-lrg {
 font-size: 32px;}

.type-lrger {
  font-size: 48px;}

.title {
 font-size: 54px; }

.l-title {
 font-size: 62px; }

.xl-title {
 font-size: 84px; }

.type-h5 {
   font-size: 16px;
}

.height-100 {
  height: 100%; }

.width-100 {
  width: 100%; }

.width-90 {
  width: 90%; }

.width-80 {
  width: 80%; }

.width-75 {
  width: 75%; }

.width-70 {
  width: 70%; }

.width-50 {
  width: 50%; }

.width-40 {
  width: 40%; }

.width-33 {
  width: 33.33%; }

.width-20 {
  width: 20%; }
